Temp/UnityLockfile
Library/ArtifactDB
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/SourceAssetDB
Library/ArtifactDB~feature_01_project_creation
Library/shadercompiler-UnityShaderCompiler.exe0.log~feature_01_project_creation
Library/SourceAssetDB~feature_01_project_creation
